fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic

python-jose[cryptography]   # JWT токени
email-validator             # для EmailStr у Pydantic

pydantic
python-dotenv               # для .env конфігів

bcrypt>=4.0.1
passlib[bcrypt]
